/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Fundamental para o Grid funcionar bem */
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-background);
    color: var(--color-text-main);
    line-height: 1.6;
}

img {
    max-width: 100%; /* Garante responsividade básica de imagens */
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}